<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.mapper.QuestionMapper">

    <select id="getQuestion" resultMap="questionAll">
        select * from b_question where is_abroad = 0
        <if test="uid!=null">
            and uid = #{uid}
        </if>
        order by create_time desc
    </select>

    <select id="questionAbroad" resultMap="questionAll">
        select * from b_question where is_abroad = 1 order by create_time desc
    </select>

    <select id="detail" resultMap="question">
        select * from b_question where qid = #{qid}
    </select>

    <select id="getUserInfo" resultType="user">
        select uid,username,email,avatar,signature from b_user
            where uid = #{uid}
    </select>

    <select id="getAnswers" resultMap="answer">
        select * from b_answer
            where qid = #{qid} order by create_time desc
    </select>

    <select id="getTotal" resultType="Integer">
        select count(1) from b_answer where qid = #{qid}
    </select>

    <select id="getQuestionWithAdmin" resultMap="questionAdmin">
        select * from b_question
        <where>
            <if test="key!=null">
                question_title like "%"#{key}"%" or question_text like "%"#{key}"%"
            </if>
        </where>
            order by create_time desc
    </select>

    <resultMap id="question" type="com.liang.vo.question.QuestionVo">
        <result column="qid" property="qid" />
        <result column="uid" property="uid" />
        <association property="user" column="uid" select="getUserInfo" />
        <collection property="answers" javaType="ArrayList" column="qid" select="getAnswers" />
    </resultMap>

    <resultMap id="answer" type="com.liang.vo.question.Answers">
        <result column="uid" property="uid" />
        <association property="AnswerUser" column="uid" select="getUserInfo" />
    </resultMap>

    <resultMap id="questionAll" type="com.liang.vo.question.QuestionVo">
        <result column="uid" property="uid" />
        <result column="qid" property="qid" />
        <association property="answerTotal" column="qid" select="getTotal" />
        <association property="user" column="uid" select="getUserInfo" />
    </resultMap>

    <resultMap id="questionAdmin" type="com.liang.vo.question.QuestionVo">
        <result column="uid" property="uid" />
        <association property="user" column="uid" select="getUserInfo" />
    </resultMap>

</mapper>
